.projects {
    max-width: 1000px;
    height: auto;
    margin:auto;
   
}

.projects-main {
    width: 100%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease-in-out;
}

.projectsMain-title {
    text-align: center;
}

.project-container {
    height: 450px;
    width: 310px;
    background: linear-gradient(rgba(55, 55, 255, .5), rgba(255, 255, 255, .4));
    border-radius: 20px;


}

.project-img {
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    padding: 10px;
    background: none;
    border-radius: 25px;
}

.project-detail {
    position: relative;
}

.project-detail h3 {
    background: none;
    text-align: center;

}

.project-detail p {
    position: absolute;
    background: none;
    left: 20px;
    top: 30px;
    padding-right: 5px;
}

.project-button {
    background: none;
    text-align: center;
    height: 35px;
    width: 130px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid orange;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;

}

.project-button:active {
    height: 35px;
    width: 130px;
}


.mainDot {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.dotIcon {
    font-size: 15px;
}

.bigIcon {
    border-bottom: 2px solid orange;
}

.dotIconRes {
    font-size: 30px;
}

.bigIconRes {
    font-size: 40px;
    color: orange;
}

.project-main{
    display:block;
}
.projects-main-res{
    display: none;
}


@media screen and (max-width: 767px) {


    .projects {
        margin-top: 300px;
        height: auto;
    }

    .projects-main {
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
    }

    .projects-main{
        display:none;
    }
    .projects-main-res{
        display: block;
    }

    .project-container {
        height: 300px;
        width: 240px;
        margin-bottom: 30px;
    }

    .project-img {
        width: 240px;
        height: 150px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {


    .projects {
        margin-top: 300px;
        height: auto;
    }

    .projects-main {
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
    }

    .projects-main{
        display:none;
    }
    .projects-main-res{
        display: block;
    }

    .project-container {
        height: 350px;
        width: 340px;
        margin-bottom: 30px;
    }

    .project-img {
        width: 340px;
        height: 200px;
    }
}