.navBar {

    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    position: fixed;
    top: 200px;
}

.navBar li {
    margin: 10px;
}

.uil {
    color: orange;
    font-size: 30px;
}

@media screen and (max-width: 500px) {

    .navBar {
        top: 300px;
    }

}