/* base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000728;
  color: white;
}

html {
  scroll-behavior: smooth;
}




/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}


/* custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 32, 32);
}

/* break points */



@media screen and (max-width: 992px) {
  #hero {
    display: none;
  }

  #about {
    display: none;
  }

  #projects {
    display: none;
  }

  #contact {
    display: none;
  }

  #skills {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .forBlock {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .forBlock {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .forBlock {
    display: none;
  }
}