/* base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #000728; */
  color: white;
}

.blue {
  background-color: #000728;
  transition: 1s ease-in-out;
}

.pumpkin {
  background-color: #d35400;
  transition: 1s ease-in-out;
}

.winterGreen {
  background-color: #3ae374;
  transition: 1s ease-in-out;
}

.gray {
  background-color: #5f5e5b;
  transition: 1s ease-in-out;
}

.crimson {
  background-color: crimson;
  transition: 1s ease-in-out;
}

html {
  scroll-behavior: smooth;
}




/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}


/* custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 32, 32);
}

/* break points */

@media screen and (min-width: 1281px) {
  #warning {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  #warning {
    display: none;
  }

}

@media screen and (min-width: 377px) and (max-width: 1280px) {

  html {
    scroll-behavior: smooth;
  }

  #hero {
    display: none;
  }

  #about {
    display: none;
  }

  #projects {
    display: none;
  }

  #contact {
    display: none;
  }

  #skills {
    display: none;
  }

  #navbar {
    display: none;
  }

  #warning {
    display: block;
  }
}